
<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org"> <head>
<meta charset="utf-8" />
<title>Ajout d'un intervenant</title> </head>
<head>


</head>
<body>

<form action="/intervenant/add" method="post">
<div>
<span>Id:</span><input type="text" name="id" th:value="${intervenant.id}" />
</div>

<div>
 <span>Nom:</span><input type="text" name="nom" th:value="${intervenant.nom}" />
</div> 

<div>
  <span>Email:</span><input type="text" name="email" th:value="${intervenant.email}" />
</div>
<input type="submit" value="Enregistrer" /> 

</form>
</body>
</html>